**Import the necessary libraries**

In [52]:
import numpy as np
import pandas as pd

from datetime import date

**Load the data using pandas read_csv function. The data has already been pre-processed and cleaned so no EDA or preprocessing necessary**

In [53]:
df = pd.read_csv('/Users/thomasz/Desktop/subscription_contract_data.csv'
                 , parse_dates=['contract_sale_date', 'contract_churn_date'])

**Data field descriptions**

- contract_id - The unique id of each contract in the system
- contract_sale_date - The date each contract was sold 
- contract_churn_date - The date each contract was churned. A null value means the contract is still alive.

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 3 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   contract_id          200000 non-null  float64
 1   contract_sale_date   200000 non-null  datetime64[ns]
 2   contract_churn_date  61564 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1)
memory usage: 4.6 MB

In [55]:
import warnings
warnings.filterwarnings('ignore')

**Create an is_churned column to flag contracts that have churned and those that are live based on whether the contract_churn_date column is null**

In [56]:
df.insert(0, "is_churned", np.where(df['contract_churn_date'].isna(), 0, 1))

**Set the live contracts to churn as of the date the report is run and calculate the difference between contract_sale_date and contract_churn_date in whole months (round down)**

In [57]:
todays_date = pd.Timestamp(date.today())

df['policy_length_months'] = np.where(df['contract_churn_date'].isna(), 
                                     ((todays_date - df.contract_sale_date)/np.timedelta64(1, 'M')),
                                     ((df.contract_churn_date - df.contract_sale_date)/np.timedelta64(1, 'M')) 
                                     )

df['policy_length_months'] = df['policy_length_months'].astype(int)

**Build a dataframe to calculate the number of contracts churned by month churned. Live contracts are being "churned" at the latest month that they were live and included**

In [58]:
df_churned_by_month = df[['policy_length_months', 'contract_id', 'is_churned']]

# Aggregate (count) the dataset by number of contracts churned by length in months
df_churned_by_month = \
df_churned_by_month.groupby('policy_length_months')['contract_id'].count().reset_index()
df_churned_by_month.rename(columns={"contract_id": "no_contracts_churned"}, inplace=True)

Build a survivorship table as per this Life Time table -> https://en.wikipedia.org/wiki/Life_table

**Create the contracts at start of period**

In [59]:
df_churned_by_month['contracts_at_start_of_period'] = df_churned_by_month['no_contracts_churned'].sum()

for i in range(0, len(df_churned_by_month.no_contracts_churned)):
    if i != 0:
        df_churned_by_month['contracts_at_start_of_period'][i] = \
        df_churned_by_month['contracts_at_start_of_period'][i-1].copy() - \
        df_churned_by_month['no_contracts_churned'][i-1].copy()
        
df_churned_by_month = df_churned_by_month.append({'policy_length_months':max(df_churned_by_month.policy_length_months) + 1, 
                            'no_contracts_churned':0,
                            'contracts_at_start_of_period':0}, ignore_index=True)

**Create the survivorship_rate column**

In [60]:
df_churned_by_month['survivorship_rate'] = 0.0000

for i in range(0, len(df_churned_by_month.survivorship_rate)):
    df_churned_by_month['survivorship_rate'][i] = \
    df_churned_by_month['contracts_at_start_of_period'][i].copy() / \
    df_churned_by_month['contracts_at_start_of_period'][0].copy()

**Create the avg_contract_months column**

In [61]:
df_churned_by_month['avg_contract_months'] = 0

for i in range(0, len(df_churned_by_month.avg_contract_months)):
    if i != len(df_churned_by_month.avg_contract_months)-1:
        df_churned_by_month['avg_contract_months'][i] = \
        (df_churned_by_month['contracts_at_start_of_period'][i].copy() + \
         df_churned_by_month['contracts_at_start_of_period'][i+1].copy()) / 2

**Create the expected_contract_months column**

In [62]:
df_churned_by_month['expected_contract_months'] = 0

for i in range(0, len(df_churned_by_month.expected_contract_months)):
    df_churned_by_month['expected_contract_months'][i] = \
    df_churned_by_month['avg_contract_months'][i:len(df_churned_by_month.expected_contract_months)].sum()

**Create the expected_contract_months_unit column**

In [63]:
df_churned_by_month['expected_contract_months_unit'] = 0.0000

for i in range(0, len(df_churned_by_month.expected_contract_months)):
    df_churned_by_month['expected_contract_months_unit'][i] = \
    df_churned_by_month['expected_contract_months'][i].copy() / \
    df_churned_by_month['contracts_at_start_of_period'][i].copy()

In [64]:
# df_churned_by_month.to_excel("survivorship_table.xlsx")

In [65]:
df_churned_by_month

,policy_length_months,no_contracts_churned,contracts_at_start_of_period,survivorship_rate,avg_contract_months,expected_contract_months,expected_contract_months_unit
0,0,8167,200000,1.000000,195916,2287858,11.439290
1,1,10455,191833,0.959165,186605,2091942,10.905016
2,2,11480,181378,0.906890,175638,1905337,10.504786
3,3,11389,169898,0.849490,164203,1729699,10.180808
4,4,12461,158509,0.792545,152278,1565496,9.876386
5,5,11017,146048,0.730240,140539,1413218,9.676394
6,6,8572,135031,0.675155,130745,1272679,9.425088
7,7,8799,126459,0.632295,122059,1141934,9.030073
8,8,10393,117660,0.588300,112463,1019875,8.667984
9,9,8188,107267,0.536335,103173,907412,8.459377
10,10,6790,99079,0.495395,95684,804239,8.117149
11,11,7964,92289,0.461445,88307,708555,7.677567
12,12,9186,84325,0.421625,79732,620248,7.355446
13,13,8523,75139,0.375695,70877,540516,7.193548
14,14,8571,66616,0.333080,62330,469639,7.049943
15,15,7907,58045,0.290225,54091,407309,7.017125
16,16,7534,50138,0.250690,46371,353218,7.044916
17,17,5323,42604,0.213020,39942,306847,7.202305
18,18,3928,37281,0.186405,35317,266905,7.159277
19,19,4676,33353,0.166765,31015,231588,6.943543
20,20,5010,28677,0.143385,26172,200573,6.994211
21,21,2999,23667,0.118335,22167,174401,7.368953
22,22,1889,20668,0.103340,19723,152234,7.365686
23,23,1935,18779,0.093895,17811,132511,7.056340
24,24,1152,16844,0.084220,16268,114700,6.809546
25,25,832,15692,0.078460,15276,98432,6.272750
26,26,1684,14860,0.074300,14018,83156,5.595962
27,27,1839,13176,0.065880,12256,69138,5.247268
28,28,1424,11337,0.056685,10625,56882,5.017377
29,29,1478,9913,0.049565,9174,46257,4.666297
30,30,1293,8435,0.042175,7788,37083,4.396325
31,31,1298,7142,0.035710,6493,29295,4.101792
32,32,1106,5844,0.029220,5291,22802,3.901780
33,33,875,4738,0.023690,4300,17511,3.695863
34,34,801,3863,0.019315,3462,13211,3.419881
35,35,681,3062,0.015310,2721,9749,3.183867
36,36,454,2381,0.011905,2154,7028,2.951701
37,37,395,1927,0.009635,1729,4874,2.529320
38,38,474,1532,0.007660,1295,3145,2.052872
39,39,359,1058,0.005290,878,1850,1.748582
40,40,291,699,0.003495,553,972,1.390558
41,41,277,408,0.002040,269,419,1.026961
42,42,88,131,0.000655,87,150,1.145038
43,43,21,43,0.000215,32,63,1.465116
44,44,8,22,0.000110,18,31,1.409091
45,45,8,14,0.000070,10,13,0.928571
46,46,6,6,0.000030,3,3,0.500000
47,47,0,0,0.000000,0,0,NaN